{% extends 'navis_one/main.html' %}
{% load static i18n navis_tag %}
{% block  title_page %}
<title>Navis - About Us</title>
{% endblock title_page %}

{% block content_page %}

<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</section>

<section class="about-shot-info section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-20">
                <h3>Navis.one</h3>
                <p><b>The NAVIS trademark </b> was founded by the European company NSS Polska Sp.z.o.o in 2018,
                    Lodz, Poland.</p>
                <p><b> TM NAVIS </b> its main task is to ensure the safety of the vehicle with maximum comfort for
                    its participants. This is achieved through the development, production and implementation of
                    quality and, at the same time, affordable components for passenger cars and LCV commercial
                    vehicles.</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="{% static 'images/slider/slider-bg-1.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>


{% endblock content_page %}
