{% extends 'navis_one/main.html' %}
{% load static i18n %}
{% block  title_page %}
<title>Navis - Home</title>
{% endblock title_page %}

{% block content_page %}

<div class="hero-slider">

    <div class="slider-item th-fullpage hero-area"
         style="background-image: url({% static 'images/slider/slider-bg-1.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Crafting Digital <br>
                        Experience</h1>
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Quod, <br> veritatis tempore nostrum id
                        officia quaerat eum corrupti, <br> ipsa aliquam velit.</p>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
                       href="service.html">Explore Us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item th-fullpage hero-area"
         style="background-image: url({% static 'images/slider/slider-bg-2.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">We Combine Design <br>
                        and
                        Creativity</h1>
                    <p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Create just what you need
                        for your Perfect Website. Choose from a wide range
                        <br> of Elements & simply put them on our Canvas.</p>
                    <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
                       href="service.html">Explore Us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item th-fullpage hero-area"
         style="background-image: url({% static 'images/slider/slider-bg-3.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">We Combine Design <br>
                        and
                        Creativity</h1>
                    <p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Create just what you need
                        for your Perfect Website. Choose from a wide range
                        <br> of Elements & simply put them on our Canvas.</p>
                    <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
                       href="service.html">Explore Us</a>
                </div>
            </div>
        </div>
    </div>

</div>

<section class="well-xs">

    <div class="container-fluid">
        <h2>PRODUCTS</h2>
    </div>

    <div class="row row-no-gutter">
        <div class="resp-tabs" style="display: block; width: 100%;">
            <div class="resp-tabs-container">

                <div class="gallery resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0"
                     style="display:block">
                    <!--gallery-->
                    <div class="col-md-4 col-sm-12 border-right">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image01_original.jpg"
                               data-gallery="5">
                                <img src="{% static 'images/page-1_image01.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">BRABUS Mercedes S-65 <br class="br-lg-on"> ROCKET-900 2015
                                    </p>
                                </div>
                            </a>
                        </div>

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image05_original.jpg"
                               data-gallery="5">
                                <img src="{% static 'images/page-1_image05.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Honda Project 2and4 Concept</p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-12 border-right">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image02_original.jpg"
                               data-gallery="5">
                                <img src="{% static 'images/page-1_image02.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">BRABUS Mercedes<br class="br-lg-on"> AMG GT-S 2016</p>
                                </div>
                            </a>
                        </div>

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image04_original.jpg"
                               data-gallery="5">
                                <img src="{% static 'images/page-1_image04.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Ferrari FXX-K 2015</p>
                                </div>
                            </a>
                        </div>

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image06_original.jpg"
                               data-gallery="5">
                                <img src="{% static 'images/page-1_image06.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Range-Rover Sentinel 2016</p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-12">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb "
                               href="#/images/page-1_image03_original.jpg"
                               data-gallery="5">
                                <img src="{% static 'images/page-1_image03.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Alfa-Romeo Giulia 2016</p>
                                </div>
                            </a>
                        </div>

                        <div class="gallery-skin border-bottom">
                            <a class="thumb "
                               href="#/images/page-1_image07_original.jpg"
                               data-gallery="5">
                                <img src="{% static 'images/page-1_image07.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">BRABUS Mercedes<br class="br-lg-on"> Amg GT-S 2016</p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <!--END gallery-->
                </div>

                <div class="resp-accordion" role="tab" aria-controls="tab_item-1"><span
                        class="resp-arrow"></span>Gallery #1
                </div>
                <div class="gallery resp-tab-content" aria-labelledby="tab_item-1">
                    <!--gallery-->
                    <div class="col-md-4 col-sm-12 border-right">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image05_original.jpg"
                               data-gallery="1">
                                <img src="{% static 'images/page-1_image05.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Honda Project 2and4 Concept</p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-12 border-right">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image06_original.jpg"
                               data-gallery="1">
                                <img src="{% static 'images/page-1_image06.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Range-Rover Sentinel 2016</p>
                                </div>
                            </a>

                        </div>

                    </div>

                    <div class="col-md-4 col-sm-12">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb "
                               href="#/images/page-1_image03_original.jpg"
                               data-gallery="1">
                                <img src="{% static 'images/page-1_image03.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Alfa-Romeo Giulia 2016</p>
                                </div>
                            </a>
                        </div>

                    </div>
                    <!--END gallery-->
                </div>

                <div class="resp-accordion" role="tab" aria-controls="tab_item-2"><span
                        class="resp-arrow"></span>Gallery #2
                </div>
                <div class="gallery resp-tab-content" aria-labelledby="tab_item-2">
                    <!--gallery-->
                    <div class="col-md-4 col-sm-12 border-right">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image01_original.jpg"
                               data-gallery="2">
                                <img src="{% static 'images/page-1_image01.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">BRABUS Mercedes S-65 <br class="br-lg-on"> ROCKET-900 2015
                                    </p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-12 border-right">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image04_original.jpg"
                               data-gallery="2">
                                <img src="{% static 'images/page-1_image04.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Ferrari FXX-K 2015</p>
                                </div>
                            </a>

                        </div>

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image06_original.jpg"
                               data-gallery="2">
                                <img src="{% static 'images/page-1_image06.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Range-Rover Sentinel 2016</p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-12">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb "
                               href="#/images/page-1_image03_original.jpg"
                               data-gallery="2">
                                <img src="{% static 'images/page-1_image03.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Alfa-Romeo Giulia 2016</p>
                                </div>
                            </a>
                        </div>

                    </div>
                    <!--END gallery-->
                </div>

                <div class="resp-accordion" role="tab" aria-controls="tab_item-3"><span
                        class="resp-arrow"></span>Gallery #3
                </div>
                <div class="gallery resp-tab-content" aria-labelledby="tab_item-3">
                    <!--gallery-->
                    <div class="col-md-4 col-sm-12 border-right">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image05_original.jpg"
                               data-gallery="3">
                                <img src="{% static 'images/page-1_image05.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Honda Project 2and4 Concept</p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-12 border-right">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image04_original.jpg"
                               data-gallery="3">
                                <img src="{% static 'images/page-1_image04.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Ferrari FXX-K 2015</p>
                                </div>
                            </a>
                        </div>

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image06_original.jpg"
                               data-gallery="3">
                                <img src="{% static 'images/page-1_image06.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Range-Rover Sentinel 2016</p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-12">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb "
                               href="#/images/page-1_image07_original.jpg"
                               data-gallery="3">
                                <img src="{% static 'images/page-1_image07.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">BRABUS Mercedes<br class="br-lg-on"> Amg GT-S 2016</p>
                                </div>
                            </a>
                        </div>

                    </div>
                    <!--END gallery-->
                </div>

                <div class="resp-accordion" role="tab" aria-controls="tab_item-4"><span
                        class="resp-arrow"></span>Gallery #4
                </div>
                <div class="gallery resp-tab-content" aria-labelledby="tab_item-4">
                    <!--gallery-->

                    <div class="col-md-4 col-sm-12 border-right">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image01_original.jpg"
                               data-gallery="4">
                                <img src="{% static 'images/page-1_image01.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">BRABUS Mercedes S-65 <br class="br-lg-on"> ROCKET-900 2015
                                    </p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-12 border-right">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb"
                               href="#/images/page-1_image02_original.jpg"
                               data-gallery="4">
                                <img src="{% static 'images/page-1_image02.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">BRABUS Mercedes<br class="br-lg-on"> AMG GT-S 2016</p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-12">

                        <div class="gallery-skin border-bottom">
                            <a class="thumb "
                               href="#/images/page-1_image03_original.jpg"
                               data-gallery="4">
                                <img src="{% static 'images/page-1_image03.jpg' %}" alt="">
                                <span class="thumb_overlay"></span>
                                <div class="gallery_overlay">
                                    <p class="brand_name heading-3">n<span>a</span>v<span>i</span>s</p>
                                    <p class="light">Alfa-Romeo Giulia 2016</p>
                                </div>
                            </a>
                        </div>

                    </div>

                    <!--END gallery-->
                </div>

            </div>
        </div>
    </div>

</section>

{% endblock content_page %}