{% load static i18n %}

<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>About Us</h3>
                    <p><b>The NAVIS trademark </b> was founded by the European company NSS Polska Sp.z.o.o in 2018,
                        Lodz, Poland.
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul>
                        <li><h3>Our Products</h3></li>
                        <li><a href="#">Wiper Blades Standart</a></li>
                        <li><a href="#">Wiper Blades Pro</a></li>
                        <li><a href="#">Auto Bulbs</a></li>
                        <li><a href="#">LED Lamps</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul>
                        <li><h3>Quick Links</h3></li>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

                <div class="col-sm-3 col-md-3 col-lg-3">
                    <ul>
                        <li><h3>Connect with us Socially</h3></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
                <!-- End of .col-sm-3 -->

            </div>
        </div> <!-- end container -->
    </div>
    <div class="footer-bottom">
        <h5>Copyright by NAVIS 2020. All rights reserved.</h5>
    </div>
</footer>