{% load static i18n %}

<header class="navigation fixed-top">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light">

            <!-- logo -->
            <!--      <a class="navbar-brand logo" href="index.html">-->
            <!--        <img class="logo-default" src="images/logo.png" alt="logo"/>-->
            <!--        <img class="logo-white" src="images/logo-white.png" alt="logo"/>-->
            <!--      </a>-->
            <!-- /logo -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Wiper Blades Standart</a>
                            <a class="dropdown-item" href="#">Wiper Blades Pro</a>
                            <a class="dropdown-item" href="#">Auto Bulbs</a>
                            <a class="dropdown-item" href="#">LED Lamp</a>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans 'Language' %}
                        </a>
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden"
                                   value="{{ request.get_full_path|slice:'3:' }}"/>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <button type="submit" name="language" class="dropdown-item"
                                        value="{{ language.code }}"
                                        class="{% if language.code == LANGUAGE_CODE %}selected{% endif %}">
                                    {{ language.name_local }}
                                </button>
                                {% endfor %}
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</header>
